
<form action="/auth/register" method="post">
    <div>
        <label for="userName">User Name:</label>
        <input type="text" id="userName" name="userName">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
    <a href="/auth/login">back to login</a>
</form> 